{% extends 'layouts/base.html' %}

{% block title %} Lista de Produtos {% endblock title %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                        <h6>Lista de Produtos</h6>
                        <button class="btn btn-success" type="button" onclick="window.location.href='/produtos/novo'">
                            <i class="fa fa-plus" aria-hidden="true"></i> Adicionar Produto
                        </button>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7">Imagem</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Produto</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Preço</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Categoria</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7">Classificação</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7">Avaliações</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7">Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if products %}
                                    {% for product in products %}
                                        <tr>
                                            <td class="text-center">
                                                <img src="{{ product.image }}" class="avatar avatar-sm rounded-circle" alt="{{ product.title }}">
                                            </td>
                                            <td>
                                                <span class="product-title" title="{{ product.title }}">{{ product.title }}</span>
                                            </td>
                                            <td>R${{ product.price }}</td>
                                            <td>{{ product.category }}</td>
                                            <td class="align-middle text-center">
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <span class="me-2 text-xs font-weight-bold">{{ product.rating_rate }} / 5</span>
                                                    <div class="progress w-75">
                                                        <div class="progress-bar bg-gradient-info" role="progressbar" style="width: {{ product.rating_rate * 20 }}%;"></div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center">{{ product.rating_count }}</td>
                                            <td class="align-middle text-center">
                                                <a class="btn-sm" title="Editar Produto" onclick="editProductPrice('{{ product.id }}', '{{ product.price }}')">
                                                    <i class="fas fa-edit fa-sm" style="color: #007bff;"></i>
                                                </a>
                                                <a class="btn-sm" title="Excluir Produto"
                                                        onclick="showSweetAlert('Desativar Produto?', 'Você tem certeza que quer desativar este produto?', 'Sim, Desativar', 'Manter ativo', '/produtos/{{ product.id }}/excluir')">
                                                    <i class="fa fa-trash fa-sm" style="color: red;"></i>
                                                </a>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="7" class="text-center">Nenhum produto encontrado.</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "includes/footer.html" %}
    </div>
{% endblock content %}

{% block javascripts %}
    <style>
        .product-title {
            display: inline-block;
            max-width: 150px; /* Ajuste o valor conforme necessário */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function showSweetAlert(title, text, confirmText, cancelText, formActionUrl) {
            Swal.fire({
                title: title,
                text: text,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: confirmText,
                cancelButtonText: cancelText,
                buttonsStyling: false,
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: 'Desativando...',
                        icon: 'info',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        didOpen: () => {
                            Swal.showLoading();
                            var form = document.createElement('form');
                            form.method = 'POST';
                            form.action = formActionUrl;

                            document.body.appendChild(form);
                            form.submit();
                        }
                    });
                } else {
                    Swal.fire({
                        title: 'Ação cancelada!',
                        icon: 'info',
                        confirmButtonText: 'OK',
                        customClass: {
                            confirmButton: 'btn btn-success'
                        }
                    });
                }
            });
        }
    function editProductPrice(productId, currentPrice) {
        Swal.fire({
            title: 'Alterar Preço',
            html: '<br><input class="form-control" placeholder="Novo Preço" id="price-input" value="' + currentPrice + '">',
            buttonsStyling: false,
            confirmButtonText: 'Salvar',
            cancelButtonText: 'Cancelar',
            showCancelButton: true,
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            preConfirm: () => {
                const newPrice = document.getElementById('price-input').value;
                if (!newPrice || isNaN(newPrice) || newPrice <= 0) {
                    Swal.showValidationMessage('Por favor, insira um preço válido.');
                    return false;
                }
                return newPrice;
            }
        }).then((result) => {
            if (result.isConfirmed) {
                const newPrice = result.value;

                fetch(`/produtos/${productId}/alterar-preco`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ price: newPrice })
                })
                .then(response => response.json())
                .then(data => {
                    Swal.fire({
                        title: 'Preço atualizado!',
                        text: 'O preço foi atualizado para R$' + newPrice,
                        icon: 'success',
                        confirmButtonText: 'OK',
                        customClass: {
                            confirmButton: 'btn btn-success'
                        }
                    }).then(() => {
                        window.location.reload();
                    });
                })
                .catch(error => {
                    Swal.fire({
                        title: 'Erro!',
                        text: 'Ocorreu um erro ao atualizar o preço.',
                        icon: 'error',
                        confirmButtonText: 'OK',
                        customClass: {
                            confirmButton: 'btn btn-danger'
                        }
                    });
                });
            }
        });
    }
    </script>
{% endblock javascripts %}
